$default-font-size: 12pt;
$pad-outline: blue solid 1px;
$border-thin: solid 1px;
$widget-gap: 2px;
$tool-element-inset: 44px;
$tool-element-margin: 3px;
$tool-element-dim: calc($tool-element-inset + ($tool-element-margin * 2));
$color-border-control: gray;
$color-element-dim: 25px;
$color-border-layout: black;
$color-selection-offset: calc($color-element-dim / 5);
$color-selector-dim: calc($color-element-dim * 2);
$color-selection-dim: calc($color-element-dim - ($widget-gap * 2));
$left-pane-width: 10em;

body {
  font: $default-font-size 'Courier New';
}

#glyph-ruler {
  position: absolute;
  visibility: hidden;
}

.top {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;

  > div:first-child {
    flex-basis: $left-pane-width;
    flex-shrink: 0;
    margin-right: $widget-gap;
    display: flex;
    flex-direction: column;
    row-gap: 1em;

    h3 {
      margin: 0;
    }

    sup, input, button {
      font-size: 8pt;
    }

    form {
      font-size: 9pt;

      input, button {
        width: 5em;
      }
    }
  }

  #letter-block {
    display: grid;
    grid-template-columns: repeat(64, 1fr);
    border-left: $border-thin $color-border-control;
    border-top: $border-thin $color-border-control;
    flex-basis: 70em;
    cursor: pointer;

    div {
      border-right: $border-thin $color-border-control;
      border-bottom: $border-thin $color-border-control;
      display: flex;
      justify-content: center;
      align-items: center;
      height: calc($default-font-size * 2);

      &.disabled {
        color: silver;
        cursor: auto;
      }

      &.selected {
        background-color: aqua;
      }

      span {
        pointer-events: none;
      }
    }
  }
}

.main {
  display: flex;
  column-gap: $widget-gap;
  align-items: flex-start;

  > div:first-child {
    display: flex;
    column-gap: $widget-gap;
    flex-basis: $left-pane-width;
    flex-shrink: 0;
  }

  #tool-selections {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
    width: fit-content;
    padding-bottom: 5px;

    input {
      display: none;
    }

    label {
      border-left: $tool-element-dim solid silver;
      border-bottom: $tool-element-dim solid gray;
      position: relative;
      cursor: pointer;

      &:before {
        content: "";
        position: absolute;
        background-color: white;
        background-repeat: no-repeat;
        background-image: url("tools.svg");
        height: $tool-element-inset;
        width: $tool-element-inset;
        top: $tool-element-margin;
        left: calc($tool-element-margin - $tool-element-dim);
      }
    }

    #tool-point:before {
      background-image: url("tools.svg#tool-point");
    }
    #tool-brush:before {
      background-image: url("tools.svg#tool-brush");
    }
    #tool-boxBrush:before {
      background-image: url("tools.svg#tool-boxBrush");
    }
    #tool-fill:before {
      background-image: url("tools.svg#tool-fill");
    }
    #tool-rect:before {
      background-image: url("tools.svg#tool-rect");
    }
    #tool-fillRect:before {
      background-image: url("tools.svg#tool-fillRect");
    }
    #tool-boxRect:before {
      background-image: url("tools.svg#tool-boxRect");
    }
    #tool-ellipse:before {
      background-image: url("tools.svg#tool-ellipse");
    }
    #tool-fillEllipse:before {
      background-image: url("tools.svg#tool-fillEllipse");
    }
    #tool-line:before {
      background-image: url("tools.svg#tool-line");
    }
    #tool-text:before {
      background-image: url("tools.svg#tool-text");
    }
    #tool-swap:before {
      background-image: url("tools.svg#tool-swap");
    }
    #tool-eyedrop:before {
      background-image: url("tools.svg#tool-eyedrop");
    }

    input:checked + label {
      border-left-color: gray;
      border-bottom-color: silver;

      &:before {
        background-color: aqua;
      }
    }
  }

  .colors {
    border: $border-thin $color-border-layout;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;

    .color-selections {
      height: $color-selector-dim;
      width: $color-selector-dim;
      border-bottom: $border-thin $color-border-layout;
      position: relative;

      .selected {
        outline: gold dotted $widget-gap;
      }

      .tile-color {
        width: $color-selection-dim;
        height: $color-selection-dim;
        position: absolute;
        border: $widget-gap solid $color-border-control;

        hr {
          border-top-color: $color-border-control;
        }
      }

      #background-selection {
        bottom: $color-selection-offset;
        right: $color-selection-offset;
        cursor: pointer;
      }

      #foreground-selection {
        top: $color-selection-offset;
        left: $color-selection-offset;
        cursor: pointer;
      }
    }

    #palette {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      cursor: pointer;

      .palette-cell {
        height: $color-element-dim;
        width: $color-element-dim;
      }
    }
  }

  #sketchpad {
    display: grid;
    border: $pad-outline;

    div {
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        outline: $pad-outline;
        opacity: 0.8;
      }

      span {
        pointer-events: none;
        user-select: none;
      }
    }
  }
}
