$thin-border: solid 1px black;
$color-selector-dim: 50px;
$color-selector-border: 2px;
$color-selection-position: 10px;

body {
  font: 12pt 'Courier New';
}

#sketchpad {
  outline: 1px solid blue;
  width: 400px;
  height: 300px;
}

#glyph-ruler {
  position: absolute;
  visibility: hidden;
}

#letter-block {
  width: 400px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  
  div {
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .selected {
    background-color: aqua;
  }
}

#current-brush {
  display: flex;

  & > div {
    width: 100px;
    height: 100px;
    border-left: $thin-border;
  }

  & > :last-child {
    border-right: $thin-border;
  }

  #color-selections {
    position: relative;

    .color-selection {
      width: calc($color-selector-dim - (2 * $color-selector-border));
      height: calc($color-selector-dim - (2 * $color-selector-border));
      position: absolute;
      border: $color-selector-border solid gray;
    }
    
    #background-selection {
      bottom: $color-selection-position;
      right: $color-selection-position;
      background-color: aqua;
    }

    #foreground-selection {
      top: $color-selection-position;
      left: $color-selection-position;
      background-color: yellow;
    }
  }

  #glyph-selection {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#palette {
  display: flex;

  .palette-cell {
    width: 100px;
    height: 100px;
  }
}
