$default-font-size: 12pt;
$pad-outline: blue solid 1px;
$border-thin: solid 1px;
$color-border-control: gray;
$color-border-layout: black;
$color-selection-dim: 25px;
$color-selection-border-thickness: 2px;
$color-selection-offset: calc($color-selection-dim / 5);

body {
  font: $default-font-size 'Courier New';
}

#control-bar {
  display: flex;
  align-items: center;
  column-gap: 2em;
}

#sketchpad-controls {
  font-size: 9pt;

  input, button {
    font-size: 8pt;
    width: 5em;
  }
}

#sketchpad {
  display: grid;
  outline: $pad-outline;

  div {
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      outline: $pad-outline;
      opacity: 0.8;
    }

    span {
      pointer-events: none;
      user-select: none;
    }
  }
}

#glyph-ruler {
  position: absolute;
  visibility: hidden;
}

#letter-block {
  display: grid;
  grid-template-columns: repeat(64, 1fr);
  border-left: $border-thin $color-border-control;
  border-top: $border-thin $color-border-control;

  div {
    border-right: $border-thin $color-border-control;
    border-bottom: $border-thin $color-border-control;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc($default-font-size * 2);

    span {
      pointer-events: none;
    }
  }

  .selected {
    background-color: aqua;
  }
}

#colors {
  border: $border-thin $color-border-layout;
  display: flex;
  width: fit-content;
  height: fit-content;

  #color-selections {
    height: calc($color-selection-dim * 2);
    width: calc($color-selection-dim * 2);
    border-right: $border-thin $color-border-layout;
    position: relative;

    .selected {
      outline: gold dotted $color-selection-border-thickness;
    }

    .tile-color {
      width: calc(
        $color-selection-dim - (2 * $color-selection-border-thickness)
      );
      height: calc(
        $color-selection-dim - (2 * $color-selection-border-thickness)
      );
      position: absolute;
      border: $color-selection-border-thickness solid $color-border-control;

      hr {
        border-top-color: $color-border-control;
      }
    }

    #background-selection {
      bottom: $color-selection-offset;
      right: $color-selection-offset;
    }

    #foreground-selection {
      top: $color-selection-offset;
      left: $color-selection-offset;
    }
  }

  #palette {
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    .palette-cell {
      height: $color-selection-dim;
      width: $color-selection-dim;
    }
  }
}
