$default-font-size: 12pt;
$pad-outline: blue solid 1px;
$border-thin: solid 1px;
$tool-element-inset: 44px;
$tool-element-margin: 3px;
$tool-element-dim: calc($tool-element-inset + ($tool-element-margin * 2));
$color-border-control: gray;
$color-element-dim: 25px;
$color-border-layout: black;
$color-selection-border-thickness: 2px;
$color-selection-offset: calc($color-element-dim / 5);
$color-selector-dim: calc($color-element-dim * 2);
$color-selection-dim: calc(
  $color-element-dim - ($color-selection-border-thickness * 2)
);

body {
  font: $default-font-size 'Courier New';
}

#tool-selections {
  display: flex;
  column-gap: 1px;
  width: fit-content;
  padding-bottom: 5px;

  input {
    display: none;
  }

  label {
    border-left: $tool-element-dim solid silver;
    border-bottom: $tool-element-dim solid gray;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      background-color: white;
      background-repeat: no-repeat;
      background-image: url("tools.svg");
      height: $tool-element-inset;
      width: $tool-element-inset;
      top: $tool-element-margin;
      left: calc($tool-element-margin - $tool-element-dim);
    }
  }

  #tool-point:before {
    background-image: url("tools.svg#tool-point");
  }
  #tool-brush:before {
    background-image: url("tools.svg#tool-brush");
  }
  #tool-boxBrush:before {
    background-image: url("tools.svg#tool-boxBrush");
  }
  #tool-fill:before {
    background-image: url("tools.svg#tool-fill");
  }
  #tool-rect:before {
    background-image: url("tools.svg#tool-rect");
  }
  #tool-fillRect:before {
    background-image: url("tools.svg#tool-fillRect");
  }
  #tool-boxRect:before {
    background-image: url("tools.svg#tool-boxRect");
  }
  #tool-ellipse:before {
    background-image: url("tools.svg#tool-ellipse");
  }
  #tool-fillEllipse:before {
    background-image: url("tools.svg#tool-fillEllipse");
  }
  #tool-line:before {
    background-image: url("tools.svg#tool-line");
  }
  #tool-text:before {
    background-image: url("tools.svg#tool-text");
  }
  #tool-swap:before {
    background-image: url("tools.svg#tool-swap");
  }
  #tool-eyedrop:before {
    background-image: url("tools.svg#tool-eyedrop");
  }

  input:checked + label {
    border-left-color: gray;
    border-bottom-color: silver;

    &:before {
      background-color: aliceblue;
    }
  }
}

#control-bar {
  display: flex;
  align-items: center;
  column-gap: 2em;
}

#sketchpad-controls {
  font-size: 9pt;

  input, button {
    font-size: 8pt;
    width: 5em;
  }
}

#sketchpad {
  display: grid;
  outline: $pad-outline;

  div {
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      outline: $pad-outline;
      opacity: 0.8;
    }

    span {
      pointer-events: none;
      user-select: none;
    }
  }
}

#glyph-ruler {
  position: absolute;
  visibility: hidden;
}

#letter-block {
  display: grid;
  grid-template-columns: repeat(64, 1fr);
  border-left: $border-thin $color-border-control;
  border-top: $border-thin $color-border-control;

  div {
    border-right: $border-thin $color-border-control;
    border-bottom: $border-thin $color-border-control;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc($default-font-size * 2);

    span {
      pointer-events: none;
    }
  }

  .selected {
    background-color: aqua;
  }
}

#colors {
  border: $border-thin $color-border-layout;
  display: flex;
  width: fit-content;
  height: fit-content;

  #color-selections {
    height: $color-selector-dim;
    width: $color-selector-dim;
    border-right: $border-thin $color-border-layout;
    position: relative;

    .selected {
      outline: gold dotted $color-selection-border-thickness;
    }

    .tile-color {
      width: $color-selection-dim;
      height: $color-selection-dim;
      position: absolute;
      border: $color-selection-border-thickness solid $color-border-control;

      hr {
        border-top-color: $color-border-control;
      }
    }

    #background-selection {
      bottom: $color-selection-offset;
      right: $color-selection-offset;
    }

    #foreground-selection {
      top: $color-selection-offset;
      left: $color-selection-offset;
    }
  }

  #palette {
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    .palette-cell {
      height: $color-element-dim;
      width: $color-element-dim;
    }
  }
}
