$content-width: 400px;
$thin-strong-border: solid 1px black;
$thin-medium-border: solid 1px gray;
$color-selection-dim: 50px;
$color-selection-border-thickness: 2px;
$color-selection-offset: 10px;

body {
  font: 12pt 'Courier New';
}

#sketchpad {
  outline: 1px solid blue;
  width: $content-width;
  height: 300px;
}

#glyph-ruler {
  position: absolute;
  visibility: hidden;
}

#letter-block {
  width: $content-width;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  border-left: $thin-medium-border;
  border-top: $thin-medium-border;
  
  div {
    border-right: $thin-medium-border;
    border-bottom: $thin-medium-border;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .selected {
    background-color: aqua;
  }
}

#current-brush {
  display: flex;

  & > div {
    width: 100px;
    height: 100px;
    border-left: $thin-strong-border;
  }

  & > :last-child {
    border-right: $thin-strong-border;
  }

  #color-selections {
    position: relative;

    .color-selection {
      width: calc($color-selection-dim - (2 * $color-selection-border-thickness));
      height: calc($color-selection-dim - (2 * $color-selection-border-thickness));
      position: absolute;
      border: $color-selection-border-thickness solid gray;
      overflow: hidden;

      hr {
        border: none;
        border-top: $thin-strong-border;
        width: 200%;
        height: 0;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 50%;
        left: -50%;
        visibility: hidden;

        &:first-child {
          transform: rotate(45deg);
        }

        &:last-child {
          transform: rotate(-45deg);
        };
      }

      &.no-color {
        hr {
          visibility: visible;
        }
      }
    }
    
    #background-selection {
      bottom: $color-selection-offset;
      right: $color-selection-offset;
    }

    #foreground-selection {
      top: $color-selection-offset;
      left: $color-selection-offset;
    }
  }

  #glyph-selection {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#palette {
  display: flex;

  .palette-cell {
    width: 100px;
    height: 100px;
  }
}
